/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-juil.-2019, 8:34:20
    Author     : Formateur
*/
body {font-family: "Comic Sans MS", cursive, sans-serif; background-color:gold;

      background: rgba(255,212,23,1);
      
background: -moz-linear-gradient(top, rgba(255,212,23,1) 0%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,212,23,1)), color-stop(81%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(255,212,23,1) 0%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(255,212,23,1) 0%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(255,212,23,1) 0%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(255,212,23,1) 0%, rgba(0,0,0,1) 81%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd417', endColorstr='#000000', GradientType=0 );

font-size: 1em;
max-width: 1000px;
margin: auto;
border: 3px black dotted;
padding: 0.50em;

 }
 img {border: 10px black dotted;
 border-width: 10px;
 border-color: darkcyan;
 border-style: solid;
 border-radius: 15px;
 }
p{
    color:dodgerblue; 
}
li{color:dodgerblue; }
h1{font-family: 'Ewert';
   font-size: 1.5em;}

h2 {background: darkcyan;}